scikit-learn>=1.5
pandas>=2.2
numpy>=1.26
joblib>=1.4
nltk>=3.9
newspaper3k>=0.2.8
lxml>=5.3
lxml_html_clean>=0.4
streamlit>=1.40
plotly>=5.24
matplotlib>=3.9
requests>=2.32
beautifulsoup4>=4.12
tqdm>=4.67
reportlab>=4.0
langdetect>=1.0.9
deep-translator>=1.11
shap>=0.44
spacy>=3.7
